body {
    font-family: "Myriad Set Pro",Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: center;
}

h1 {
    font-family: "Brush Script MT","Myriad Set Pro",Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 4em;
}

canvas {
    border: 1px #f00 solid;
}

#wrapper {
    border: 1px #aaa dotted;
    border-radius: 15px;
    display: block;
    margin: 2em auto;
    padding: 1em;

    width: 700px;
    height: 500px;
}

button {
    /* From http://css3buttongenerator.com/ */
    background: #6e90ff;
    background-image: -webkit-linear-gradient(top, #6e90ff, #061d2b);
    background-image: -moz-linear-gradient(top, #6e90ff, #061d2b);
    background-image: -ms-linear-gradient(top, #6e90ff, #061d2b);
    background-image: -o-linear-gradient(top, #6e90ff, #061d2b);
    background-image: linear-gradient(to bottom, #6e90ff, #061d2b);

    border-style: none;
    -webkit-border-radius: 42;
    -moz-border-radius: 42;
    border-radius: 42px;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 30px 10px 29px;
    text-decoration: none;

}

button:hover {
    background: #061d2b;
}

