/* Color scheme help from http://paletton.com/ */

html {
    margin: 0;
    padding: 0;
}

body {
    background: #0ea5ff;
    color: #fff;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
    width: 732px;
}

h1 {
    background: #00436a;
    border: 5px solid #78cdff;
    border-radius: 15px;
    font-family: "Brush Script MT","Myriad Set Pro",Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 4em;
    margin: 0 0 0 0;
}

.wrapper {
    background: #78cdff;
    border-radius: 15px;
    display: block;
}

#preview {
    border: 10px solid #78cdff;
    float: right;
    margin: 5px 0;

    height: 100px;
    width: 100px;
}

#folded {
    border: 15px solid #78cdff;
    clear: both;
    margin: 0 auto;

    height: 400px;
    width: 700px;
}

.controls {
    margin-top: 72px;
    margin-left: 20px;
    text-align: left;
}

.controls2 {
    margin: 3px 20px;
    text-align: left;
}

button {
    /* From http://css3buttongenerator.com/ */
    background: #00436a;
    border-style: none;
    border-color: #fff;
    border-radius: 42px;
    border-width: 1px;
    color: #ffffff;
    font-family: "Myriad Set Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    padding: 10px 30px 10px 29px;
    margin-top: 5px;
    text-decoration: none;
}

button:focus, button:hover {
    background: #00578a;
}

button:active {
    background: #78cdff;
}

#admire {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

#reset {
    float: right;
}

#admirer {
    display: none;
    margin: 0 auto;

    text-align: center;
}

#admirer .controls {
    margin: 10px 0;
    text-align: center;
}

#admirer .wrapper {
    border: 15px solid #78cdff;
    margin: 0 auto;

    height: 700px;
    width: 700px;
}

#admirer canvas {
    display: none;
}

#messages {
    color: #000874;

    display: inline-block;
    font-family: "Myriad Set Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    margin: 10px auto;
}

hr {
    border-bottom: 1px dashed #00436a;
    border-top: 1px dashed #ffffff;
    margin: 15px auto;
    width: 500px;
}
