/* Color scheme help from http://paletton.com/ */

html {
    margin: 0;
    padding: 0;
}

body {
    background: #0ea5ff;
    color: #fff;
    margin: 0;
    padding: 0;
}

#wrap {
    margin: 0 auto;
    width: 732px;
}

h1 {
    background: #00436a;
    border-color: #78cdff;
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
    font-family: "Brush Script MT","Myriad Set Pro",Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 4em;
    margin: 0 0 0 0;
    text-align: center;
}

.wrapper {
    background: #78cdff;
    border-radius: 15px;
    display: block;
}

#unfolded-wrapper {
    float: right;
    height: 100px;
    margin: 5px 0;
    padding: 10px;
    width: 100px;
}

#folded-wrapper {
    clear: both;
    height: 500px;
    margin: 0 auto;
    padding: 15px;
    width: 700px;
}

button {
    /* From http://css3buttongenerator.com/ */
    background: #00436a;
    border-style: none;
    border-color: #fff;
    border-radius: 42px;
    border-width: 1px;
    color: #ffffff;
    font-family: "Myriad Set Pro",Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 17px;
    padding: 10px 30px 10px 29px;
    margin-top: 5px;
    text-decoration: none;
}

button:focus, button:hover {
    background: #00578a;
}

button:active {
    background: #78cdff;
}

#controls {
    margin-top: 80px;
    margin-left: 20px;
    position: relative;
}
